<header class="site-header" role="banner">
  <nav class="site-nav">
    {% if page.id == "articles" %}
      <a class="nav-link active" href="{{ site.baseurl }}/">
        {% include keur.svg %}
        Articles
      </a>
      <a class="nav-link" href="{{ site.baseurl }}/illustrations/">
        {% include keur.svg %}
        Illustrations
      </a>
      <a class="nav-link" href="{{ site.baseurl }}/about/">
        {% include keur.svg %}
        À propos
      </a>
      <a class="nav-link" href="{{ site.baseurl }}/contact/">
        {% include keur.svg %}
        Contact
      </a>
    {% elsif page.id == "illustrations" %}
      <a class="nav-link" href="{{ site.baseurl }}/">
        {% include keur.svg %}
        Articles
      </a>
      <a class="nav-link active" href="{{ site.baseurl }}/illustrations/">
        {% include keur.svg %}
        Illustrations
      </a>
      <a class="nav-link" href="{{ site.baseurl }}/about/">
        {% include keur.svg %}
        À propos
      </a>
      <a class="nav-link" href="{{ site.baseurl }}/contact/">
        {% include keur.svg %}
        Contact
      </a>
    {% elsif page.id == "about" %}
      <a class="nav-link" href="{{ site.baseurl }}/">
        {% include keur.svg %}
        Articles
      </a>
      <a class="nav-link" href="{{ site.baseurl }}/illustrations/">
        {% include keur.svg %}
        Illustrations
      </a>
      <a class="nav-link active" href="{{ site.baseurl }}/about/">
        {% include keur.svg %}
        À propos
      </a>
      <a class="nav-link" href="{{ site.baseurl }}/contact/">
        {% include keur.svg %}
        Contact
      </a>
    {% elsif page.id == "contact" %}
      <a class="nav-link" href="{{ site.baseurl }}/">
        {% include keur.svg %}
        Articles
      </a>
      <a class="nav-link" href="{{ site.baseurl }}/illustrations/">
        {% include keur.svg %}
        Illustrations
      </a>
      <a class="nav-link" href="{{ site.baseurl }}/about/">
        {% include keur.svg %}
        À propos
      </a>
      <a class="nav-link active" href="{{ site.baseurl }}/contact/">
        {% include keur.svg %}
        Contact
      </a>
    {% endif %}
  </nav>
</header>
