@charset "utf-8";
@import "yulek-theme/fonts";
// Define defaults for each variable.

$font-sans: "FuturaBold", "Hevetica", "Arial", sans-serif;
$font-serif: "CooperLight", "Times", serif;

$pink: #F8BBCD;
$dark-color: rgb(34, 34, 34);

$spacing-unit: 20px;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "yulek-theme/layout",
  "yulek-theme/header",
  "yulek-theme/articles",
  "yulek-theme/illustrations",
  "yulek-theme/syntax-highlighting"
;
