---
layout: default
title: illustrations
id: illustrations
---

<div class="wrapper">
  <h2 class="page-title">Illustrations</h2>
  <div class="illustration-list-wrapper">
    {% assign illustrations-by-date = site.illustrations | sort: "date" | reverse %}
    {% for illustration in illustrations-by-date %}
      <div class="illu-thumbnail" illu-id="{{ forloop.index }}">
        {% image_tag src=illustration.image width="480" class="lazyload" %}
      </div>
    {% endfor %}
  </div>
</div>


<div class="illustration-highlight-wrapper">
  {% for illustration in illustrations-by-date %}
    <div id="id{{ forloop.index }}" class="illu-big">
      {% image_tag src=illustration.image width="800" class="lazyload" %}
    </div>
  {% endfor %}
</div>
