---
layout: default
---

<div class="hero-wrapper">
  <img class="logo" src="{{ site.baseurl }}/assets/images/yulek-logo.svg" alt="">
</div>

<div class="article-list-wrapper">

  {% for article in site.articles %}
    <div class="article-wrapper">
      <h2 class="article-title">{{ article.title }}</h2>
      <div class="cover-image" style="background-image: url({{ site.baseurl }}{{ article.cover-image }});"></div>
    </div>
  {% endfor %}

  <div class="description">
    {{ page.description }}
  </div>

  <div class="divider"></div>

  <div class="info">
    Contact : <br>
    <a href="mailto:{{ page.contact }}">{{ page.contact }}</a>
  </div>

</div>
