form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.input-container {
  position: relative;
  width: 100%;
  height: 60px;
  border-top: none;
  border: 1px solid #c6ccd9;
  margin-bottom: $spacing-unit;
  border-radius: 6px;

  &.textarea {
    height: 300px;
  }
}

input, textarea {
  font-family: $font-serif;
  font-size: $text-font-size;
  color: $dark-color;
  border: none;
  width: 100%;
  border-radius: 0;
  background-color: transparent;
  position: relative;
  resize: none;

  & + label {
    position: absolute;
    height: 60px;
    line-height: 60px;
    top: 0;
    left: 20px;
    color: $text-grey;
    transform-origin: left top;
    cursor: text;
    transform: scale(0.6);
    transition: transform 0.2s;
  }

  &:focus {
    outline: none;

    & + label {
      transform: scale(0.6);
      color: $pink;
    }
  }

  &:placeholder-shown:not(:focus) + label {
    transform: scale(1);
  }
}

textarea {
  // line-height: $text-line-height;
  height: 270px;
  padding: 0 20px 15px;
  margin: 30px 0 0;
}

input {
  height: 60px;
  padding: 25px 20px 5px;
}

// In case it's a link
.button {
  display: inline-block;
  text-decoration: none;
}

button, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: $font-serif;
  font-size: $text-font-size;
  background-color: $pink;
  border-radius: 3px;
  border: none;
  height: $spacing-unit*2;
  line-height: 42px;
  padding: 0 $spacing-unit;
  width: auto;
  color: white;
  margin-top: $spacing-unit*2;
  cursor: pointer;
  transition: transform 0.15s;

  &:hover {
    transform: scale(1.05);
  }
}
