@font-face {
  font-family: 'FuturaBold';
  src: url('fonts/FuturaStd-ExtraBold.eot');
  src: url('fonts/FuturaStd-ExtraBold.woff2') format('woff2'),
       url('fonts/FuturaStd-ExtraBold.woff') format('woff'),
       url('fonts/FuturaStd-ExtraBold.ttf') format('truetype'),
       url('fonts/FuturaStd-ExtraBold.svg#FuturaStd-ExtraBold') format('svg'),
       url('fonts/FuturaStd-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperLight';
  src: url('fonts/cooperl.eot');
  src: url('fonts/cooperl.woff2') format('woff2'),
       url('fonts/cooperl.woff') format('woff'),
       url('fonts/cooperl.ttf') format('truetype'),
       url('fonts/cooperl.svg#CooperLightCBT') format('svg'),
       url('fonts/cooperl.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperLight';
  src: url('fonts/cooperli.eot');
  src: url('fonts/cooperli.woff2') format('woff2'),
       url('fonts/cooperli.woff') format('woff'),
       url('fonts/cooperli.ttf') format('truetype'),
       url('fonts/cooperli.svg#CooperLightCBT') format('svg'),
       url('fonts/cooperli.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}
