@font-face {
  font-family: 'FuturaBold';
  src: url('fonts/FuturaStd-ExtraBold.eot');
  src: url('fonts/FuturaStd-ExtraBold.woff2') format('woff2'),
       url('fonts/FuturaStd-ExtraBold.woff') format('woff'),
       url('fonts/FuturaStd-ExtraBold.ttf') format('truetype'),
       url('fonts/FuturaStd-ExtraBold.svg#FuturaStd-ExtraBold') format('svg'),
       url('fonts/FuturaStd-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperLight';
  src: url('fonts/CooperLightCBT.eot');
  src: url('fonts/CooperLightCBT.woff2') format('woff2'),
       url('fonts/CooperLightCBT.woff') format('woff'),
       url('fonts/CooperLightCBT.ttf') format('truetype'),
       url('fonts/CooperLightCBT.svg#CooperLightCBT') format('svg'),
       url('fonts/CooperLightCBT.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
