* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-serif;
  line-height: 1.4;
  font-size: 19px;
  color: $dark-color;
}

a, a:visited {
  color: $dark-color;

  &:hover {
    color: $pink;
  }
}


.divider {
  display: block;
  width: 10%;
  height: 1px;
  margin: $spacing-unit*2 auto;
  background-color: rgb(215, 215, 215);
}

.description {
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}

.info {
  text-align: center;
  margin: 0 0 $spacing-unit*2;
}
