* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font;
  line-height: 1.4;
  font-size: 18px;
  font-weight: lighter;
  color: rgb(34, 34, 34);
}

a, a:visited {
  color: rgb(34, 34, 34);

  &:hover {
    color: pink;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  width: 300px;
  margin: $spacing 20px $spacing*2 0;
}

.divider {
  display: block;
  width: 10%;
  height: 1px;
  margin: $spacing*2 auto;
  background-color: rgb(215, 215, 215);
}

.description {
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}

.info {
  text-align: center;
  margin: 0 0 $spacing*2;
}
