* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-serif;
  line-height: 1.4;
  font-size: $text-font-size;
  color: $dark-color;
}

body.locked {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
}

a, a:visited {
  color: $dark-color;

  &:hover {
    color: $pink;
  }
}

.wrapper {
  margin-top: 160px;

  @include media-query($mobile) {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px 15px;

  }
}

.hidden {
  display: none;
}

.page-title {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  font-family: $font-sans;
  font-size: 40px;
  text-transform: uppercase;
  color: $dark-color;
  text-align: center;
  margin-bottom: $spacing-unit*2;

  @include media-query($mobile) {
    font-size: 34px;
  }
}

.divider {
  display: block;
  width: 10%;
  height: 1px;
  margin: $spacing-unit*2 auto;
  background-color: rgb(215, 215, 215);
}

.description {
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}

.info {
  text-align: center;
  margin: 0 0 $spacing-unit*2;
}
